@page

@using TwaddleGram.Models.Interfaces

@inject IPost PostSvc


@{
    var posts = await PostSvc.GetAllPosts();
}

@foreach (var post in posts)
{
<div class="postbox">
    <p> ----------------------------------------- </p>
    <a asp-page="Posts/Index" asp-route-id="@post.ID">
        <p>-- PHOTO HERE --</p>
        <img src="@post.Photo" alt="Alternate Text" />
    </a>
    <p> ----------------------------------------- </p>
</div>
}