<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>twaddlegram</title>
    <link href="~/reset.css" rel="stylesheet" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>twaddlegram</h1>
    </header>
    <nav>
        <ul>
            <li><a asp-page="../Index">HOME</a></li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>

</body>
</html>