@page "{id}"
@model TwaddleGram.Pages.Posts.IndexModel
@{
    Layout = "_Layout";
}

<div>

    <partial name="../Shared/_PostPartial.cshtml" model="Model.Post" />
    @foreach (var comment in Model.Post.Comments)
    {
    <p>
        <partial name="../Shared/_CommentPartial.cshtml" model="comment" />
    </p>
    }

</div>
