@page "{id}"
@model TwaddleGram.Pages.Posts.IndexModel
@{
    Layout = "_Layout";
}

<div>

    <p><a asp-page="../Posts/Manage" asp-route-id="@Model.Post.ID">Edit Post</a></p>
    <partial name="../Shared/_PostPartial.cshtml" model="Model.Post" />
    @foreach (var comment in Model.Post.Comments)
    {
        <p>
            <partial name="../Shared/_CommentPartial.cshtml" model="comment" />
        </p>
    }


</div>
