@page "{id?}"
@model TwaddleGram.Pages.Posts.ManageModel

@using TwaddleGram.Models.Interfaces
@inject IUser UserSvc

@{
    Layout = "_Layout";
    var usersList = await UserSvc.GetAllUsers();
}

<div>
    @if (Model.Post.Caption != null || Model.Post.Photo != null)
    {
        <partial name="../Shared/_PostPartial.cshtml" model="Model.Post" />
    }
        <form class="postform" method="post" enctype="multipart/form-data">
            @if(Model.ID == null)
            {
                <label asp-for="Post.UserID"></label>
                <select asp-for="Post.UserID" class="form-control">
                    @foreach (var item in usersList)
                    {
                        <option value="@item.ID">@item.Username</option>
                    }
                </select>
            }
            <label asp-for="Post.Caption"></label>
            <textarea asp-for="Post.Caption"></textarea>
            <label asp-for="Image"></label>
            <input asp-for="Image" type="file" />
            <fieldset>
                <button type="submit">Post This Twaddle</button>
                <button type="submit" asp-page-handler="Delete">Delete This Twaddle</button>
            </fieldset>

        </form>

</div>

