@page "{id?}"
@model TwaddleGram.Pages.Posts.ManageModel
@{
}

<div>


    <p>Post #@Model.Post.ID</p>
    <p>by @Model.Post.UserID</p>
    <p>@Model.Post.Photo</p>
    <p>@Model.Post.Caption</p>
    @foreach (var comment in Model.Post.Comments)
    {
        <p>@comment.Content (***add user***)</p>
    }


</div>
