@page "{id?}"
@model TwaddleGram.Pages.Posts.ManageModel
@{
    Layout = "_Layout";

}

<div>
    <form method="post" enctype="multipart/form-data">
        <label asp-for="Post.Caption"></label>
        <input asp-for="Post.Caption" />
        <label asp-for="Image"></label>
        <input asp-for="Image" type="file" />
        <img src="Post.Photo" alt="photo by @Model.Post.UserID" />
        <button type="submit">Post This Twaddle</button>
    </form>

</div>

